<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>day12_response</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Response</display-name>
    <servlet-name>Response</servlet-name>
    <servlet-class>com.lixinxin.web.Response</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Response</servlet-name>
    <url-pattern>/response</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Response1</display-name>
    <servlet-name>Response1</servlet-name>
    <servlet-class>com.lixinxin.web.Response1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Response1</servlet-name>
    <url-pattern>/response1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Response2</display-name>
    <servlet-name>Response2</servlet-name>
    <servlet-class>com.lixinxin.web.Response2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Response2</servlet-name>
    <url-pattern>/response2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Download</display-name>
    <servlet-name>Download</servlet-name>
    <servlet-class>com.lixinxin.web.Download</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Download</servlet-name>
    <url-pattern>/download</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowImg</display-name>
    <servlet-name>ShowImg</servlet-name>
    <servlet-class>com.lixinxin.web.ShowImg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowImg</servlet-name>
    <url-pattern>/showImg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowMp3</display-name>
    <servlet-name>ShowMp3</servlet-name>
    <servlet-class>com.lixinxin.web.ShowMp3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowMp3</servlet-name>
    <url-pattern>/showMp3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowMp4</display-name>
    <servlet-name>ShowMp4</servlet-name>
    <servlet-class>com.lixinxin.web.ShowMp4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowMp4</servlet-name>
    <url-pattern>/showMp4</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowTxt</display-name>
    <servlet-name>ShowTxt</servlet-name>
    <servlet-class>com.lixinxin.web.ShowTxt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowTxt</servlet-name>
    <url-pattern>/showTxt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowZip</display-name>
    <servlet-name>ShowZip</servlet-name>
    <servlet-class>com.lixinxin.web.ShowZip</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowZip</servlet-name>
    <url-pattern>/showZip</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowFlv</display-name>
    <servlet-name>ShowFlv</servlet-name>
    <servlet-class>com.lixinxin.web.ShowFlv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowFlv</servlet-name>
    <url-pattern>/showFlv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginCheck</display-name>
    <servlet-name>LoginCheck</servlet-name>
    <servlet-class>com.lxx.web.LoginCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginCheck</servlet-name>
    <url-pattern>/loginCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckImgServlet</display-name>
    <servlet-name>CheckImgServlet</servlet-name>
    <servlet-class>com.lxx.web.CheckImgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckImgServlet</servlet-name>
    <url-pattern>/checkImgServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Download1</display-name>
    <servlet-name>Download1</servlet-name>
    <servlet-class>com.lixinxin.web.Download1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Download1</servlet-name>
    <url-pattern>/download1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginCheckServlet</display-name>
    <servlet-name>LoginCheckServlet</servlet-name>
    <servlet-class>com.lxx.web.LoginCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginCheckServlet</servlet-name>
    <url-pattern>/loginCheckServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Download2</display-name>
    <servlet-name>Download2</servlet-name>
    <servlet-class>com.lixinxin.web.Download2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Download2</servlet-name>
    <url-pattern>/download2</url-pattern>
  </servlet-mapping>
</web-app>